  button {
      background-color: green;
      color: white;
      font-weight: bold;
      height: 30px;
      margin-top: 20px;
      /* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */
      box-shadow: 2px 2px 10px 1px gray;
      /* box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 10%); */
      /* border-radius: 5px; */
      border: none;
  }

  .error {
      color: red;
      margin-top: 5px;
  }